// colors
$color_skyblue: #def7ff;
$color_lightgray: #808080;
$color_emerald: #5bc8ac;
$color_white: #fff;
$color_black: #333;
$color_error: #d80202;
$color_danger: #800dad;
$color_success: #2a58f0;



