<% if is_categorize(project, task) %>
  <div class="task__panel">
    <%= link_to task_path(task) do %>
      <p><%= task.title %></p>
      <p class="detail">more</p>
    <% end %>
  </div>
<% end %>