// styling common pages

body{
  font-family: 'Noto Sans Japanese', sans-serif;
  outline: none;
}

footer {
  padding-top: 3rem;
  position: absolute;
  bottom: 0;
}

a {
  @include link-decorate;
  &:hover {
    @include link-decorate;
  }
}

.btn {
  @include btn-design(5px);
  margin: 0 0.5em;
  padding: 0.2em 0.5em;
  &:hover {
    margin-top: 3px;
    @include btn-design(2px);
  }
}