// styling　common pages

body{
  font-family: 'Noto Sans Japanese', sans-serif;
  outline: none;
}

footer {
  padding-top: 3rem;
  position: absolute;
  bottom: 0;
}

a {
  @include link-decorate;
  &:hover {
    @include link-decorate;
  }
}