.card {
  width: 40%;
  @include card-shadow;
  margin: 1.2rem;
}
.card-content {
  padding: 1.3rem;
  text-align: center;
}
.title {
  font-weight: bold;
  font-size: 1.1rem;
  padding-bottom: 2%;
}
.card-link {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid $color_lightgray;
  padding: 1.1em;
  a {
    margin: 0.7rem;
  }
}